
#castProfile options to blah blah

#If true, input pressure will be taken as central pressure
PCENTER    1

#If true, conversion probability will be calculated integrating over the length
USEPROFILE 0

#Increment in meters
INCREMENT 0.1


##################################################################################

#Anothe  asdas asd asd asd as
DOTHIS 54345
